* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url('bg.jpg');
    font-family: 'Domine', serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
    background-color: rgba(56, 55, 55, 0.868); ;
}

.list-items {
    width: 70%;
    /* background-color: antiquewhite; */
    list-style: none;
    display: flex;
    align-items: center;

}

.list-items li {
    padding: 30px 40px;
}

.list-items li a {
    text-decoration: none;
    color: white;


}

.list-items li a:hover {
    color: rgb(136, 142, 126);



}

.right-nav {
    /* background-color: rgb(232, 232, 174); */
    width: 30%;
    text-align: right;
    padding: 0px 40px;
}

#search {
    border-radius: 7px;
}

.logo {
    width: 80px;
    border: 3px solid wheat;
    border-radius: 50px;
    margin: 10px 15px;
    display: flex;
    justify-content: center;

}
.btn-sm{
    padding: 2px 6px;
    margin: 3px 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;


}
.btn-sm:hover{
    background-color: rgb(136, 142, 126);
}

/* section */


.first-section {
    color: white;
    height: 50vh;

}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 70%;
    margin: auto;
    margin-top: 150px;
    padding: 50px;
    border-radius: 60px;
    height: 290px;
}

.left-half {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 100px;

}

.right-half {
    width: 30%;


}

#img-fi-section {
    width: 300px;
    height: 350px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 0%;

}
#text-main{
    font-size: 1.8rem;
}
#text-other{
    font-size: 1.1rem;
}

/* buttons */
.btn {
    padding: 3px;
    border-radius: 5px;
    margin: 4px;
    cursor: pointer;
    background: none;

}

.btn:hover {
    background-color: rgb(136, 142, 126);
}

/* second-section */

.second-section{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 70%;
    margin: auto;
    padding: 100px;
    color: white;
    flex-direction: row-reverse;

}

#heading{
    font-size: 1.8rem;
   
}

#content{
    /* padding:80px 0px; */
    font-size: 1.1rem;
}
.pic{
    width: 300px;
    height: 370px;
    border: 3px solid black;
    border-radius: 50px;
    padding: 0%;
}
.paras{
    padding:0px 40px;
    width: 60%;
}






.third-section{
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 70%;
    margin: auto;
    padding: 100px;
    color: white;

}


/* footer */
.text-center{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 10px 2px;
    background-color: rgba(245, 245, 220, 0.646);
}











